@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Booking Section */
.booking_section {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    gap: 30px;
    padding: 20px;
  }
  
  .booking_top {
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(34, 34, 34, 0.8);
    padding: 40px 30px;
    width: 100%;
    max-width: 800px;
    padding-bottom: 50px;
  }
  
  .booking_top h1 {
    color: var(--button-hover-color);
    text-align: center;
    margin-bottom: 20px;
  }
  
  .booking_top p {
    font-size: 20px;
    width: 700px;
  }

  .booking_form {
    background: var(--form-color);
    padding: 30px 30px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
    margin-top: 90px;
  }
  
  .booking-group {
    margin-top: 25px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    width: 350px;
  }
  
  .booking-group label {
    margin-bottom: 5px;
    font-size: 1rem;
    color: #fff;
  }
  
  .booking-group input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
  }
  
  .booking-group button {
    margin-top: 20px;
    padding: 10px 15px;
    background-color: var(--button-color);
    color: #000000;
    border: none;
    border-radius: 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .booking-group button:hover {
    background-color: var(--button-hover-color);
  }